.testimonial-all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 560px;
}

.testimonial-all .testimonial-single {
    width: 400px;
    height: 600px;
    background: #ffffff;
    box-shadow: 1px 4px 10px rgba(11, 72, 112, 0.12);
    position: relative;
    margin: 0 3%;
}

.testimonial-all .testimonial-single .single-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.testimony-img {
    flex: 2;
    /* border: solid 1px; */
} 

.image-text {
    position: absolute;
    background-color: #FF8277;
    /* width: 60%; */
    /* height: 10px; */
    width: 100%;
    letter-spacing: 3px;
    bottom: 0px;
    right: 0;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}

.testimony-content{
    flex: 1;
}


.testimonial-all .testimonial-single .single-card .testimony-img, .testimony-img{
    width: 100%;
    position: relative;
}

.testimony-img img {
    width: 100%;
}

.testimonial-all .testimonial-single .single-card .testimony-name {
    font-family: "Harmonia Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin: 16px 32px 10px 32px;
    /* color: #fff !important; */
    background-color: #ffffff;
    text-align: center;
    /* box-shadow: 0px 4px 4px rgb(0 0 0 / 25%); */
}

.testimonial-all .testimonial-single .single-card .testimony-stars .star-icon {
    color: #ee9a24;
}

.testimonial-all .testimonial-single .single-card .testimony-icon {
    width: 45px;
    height: 38px;
    margin: 16px 0 12px 0;
}

.testimonial-all .testimonial-single .single-card .testimony-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-all .testimonial-single .single-card .testimony-statement {
    font-family: Harmonia Sans, sans-serif !important;
    font-style: normal;
    /* font-weight: 600; */
    font-size: 14px;
    line-height: 20px;
    color: #333;
    margin: 5% 32px;
    text-align: justify;
}


.testimony-stars {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 480px) {
    .testimonial-all {
        width: 100%;
        height: 450px;
        margin: 45px 0 0 0;
        align-items: center;
    }

    .testimonial-all .testimonial-single {
        width: 260px;
        height: 450px;;
        background: #ffffff;
        box-shadow: 1px 2px 12px rgba(11, 72, 112, 0.12);
        margin: 0 2%;
    }

    .testimonial-all .testimonial-single .single-card {
        top: -30px;
    }

    .testimonial-all .testimonial-single .single-card .testimony-img img {
        /* width: 76.25px; */
        /* height: 76.25px; */
    }

    .testimonial-all .testimonial-single .single-card .testimony-name {
        margin: 6px 20px;
    }

    .testimonial-all
        .testimonial-single
        .single-card
        .testimony-stars
        .star-icon {
        color: #ee9a24;
        font-size: 10px;
        /* display: flex; */
        /* justify-content: center; */
    }


    .testimonial-all .testimonial-single .single-card .testimony-icon {
        display: none;
    }

    .testimonial-all .testimonial-single .single-card .testimony-statement {
        margin: 0 20px 20px 20px;
    }
}
