.testimonial-all {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 477px;
    padding: 10px 0;
}

.testimonial-all .testimonial-single {
    width: 370px;
    height: 417px;
    background: #ffffff;
    box-shadow: 1px 4px 10px rgba(11, 72, 112, 0.12);
    border-radius: 40px;
    position: relative;
    margin: 0 3%;
}

.testimonial-all .testimonial-single .single-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: -50px;
}

.testimonial-all .testimonial-single .single-card .testimony-img img {
    width: 121px;
    height: 121px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-all .testimonial-single .single-card .testimony-name {
    font-family: "harmoniaSansReg";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 16px 32px 10px 32px;
    color: #333;
}

.testimonial-all .testimonial-single .single-card .testimony-stars .star-icon {
    color: #ee9a24;
}

.testimonial-all .testimonial-single .single-card .testimony-icon {
    width: 45px;
    height: 38px;
    margin: 16px 0 12px 0;
}

.testimonial-all .testimonial-single .single-card .testimony-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial-all .testimonial-single .single-card .testimony-statement {
    font-family: "harmoniaSansReg";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #333;
    margin: 0 32px;
}

@media only screen and (max-width: 480px) {
    .testimonial-all {
        width: 100%;
        height: 320px;
        margin: 45px 0 0 0;
        align-items: center;
    }

    .testimonial-all .testimonial-single {
        width: 260px;
        height: 310px;
        background: #ffffff;
        box-shadow: 1px 2px 12px rgba(11, 72, 112, 0.12);
        border-radius: 40px;
        margin: 0 2%;
    }

    .testimonial-all .testimonial-single .single-card {
        top: -30px;
    }

    .testimonial-all .testimonial-single .single-card .testimony-img img {
        width: 76.25px;
        height: 76.25px;
    }

    .testimonial-all .testimonial-single .single-card .testimony-name {
        font-size: 16px;
        margin: 6px 20px;
    }

    .testimonial-all
        .testimonial-single
        .single-card
        .testimony-stars
        .star-icon {
        color: #ee9a24;
        font-size: 10px;
    }

    .testimonial-all .testimonial-single .single-card .testimony-icon {
        display: none;
    }

    .testimonial-all .testimonial-single .single-card .testimony-statement {
        font-weight: 400;
        font-size: 12px;
        margin: 0 20px 20px 20px;
    }
}
