.testimonial-container {
    width: 100%;
    margin: 50px 0;
}

.testimonial-container .testimonial-content {
    width: 100%;
    height: 681px;
    background: #ffe8d9;
}

.testimonial-container .testimonial-content .testimonial-header {
    width: 100%;
    padding: 3% 0 0 9%;
}

.testimonial-container
    .testimonial-content
    .testimonial-header
    .testimonial-title {
    font-family: "ITC-Caslon-224-Std";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.5px;
    color: #000000;
}

.testimonial-container
    .testimonial-content
    .testimonial-header
    .testimonial-sub-title {
    font-family: "HarmoniaSansProCyr";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.5px;
    color: #000000;
}

.testimonial-container .testimonial-content .testimonial-body {
    width: 100%;
    margin-top: 36px;
}

.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
}

.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .testimonial-all {
    width: 100%;
    display: flex;
    justify-content: center;
}

.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .styles-module_carousel-base__3keqD
    div
    .styles-module_item-container__a8zaY {
    cursor: default !important;
}

.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .styles-module_carousel-base__3keqD
    div
    .testimonial-left-btn,
.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .styles-module_carousel-base__3keqD
    div
    .testimonial-right-btn {
    border: none !important;
    transform: translate(-30px, 210px) !important;
    background-color: #fe8276 !important;
    padding: 20px !important;
    border-radius: 10px !important;
    color: #fff !important;
    cursor: pointer !important;
    transition: all 0.2s ease-in-out !important;
}

.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .styles-module_carousel-base__3keqD
    div
    .testimonial-right-btn {
    transform: translate(30px, 210px) !important;
}

.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .styles-module_carousel-base__3keqD
    div
    .testimonial-left-btn:active,
.testimonial-container
    .testimonial-content
    .testimonial-body
    .testimonial-body-content
    .styles-module_carousel-base__3keqD
    div
    .testimonial-right-btn:active {
    background-color: #fea29a !important;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6) !important;
}

@media only screen and (max-width: 480px) {
    .testimonial-container .testimonial-content {
        height: 500px;
    }
    .testimonial-container
        .testimonial-content
        .testimonial-body
        .testimonial-body-content {
        padding: 0 5%;
        width: 100%;
    }

    .testimonial-container .testimonial-content .testimonial-header {
        width: 100%;
        padding: 6% 9% 0 9%;
    }

    .testimonial-container
        .testimonial-content
        .testimonial-header
        .testimonial-title {
        font-weight: 900;
        font-size: 16px;
        margin-bottom: 9px;
    }

    .testimonial-container
        .testimonial-content
        .testimonial-header
        .testimonial-sub-title {
        font-size: 12px;
    }

    .testimonial-container
        .testimonial-content
        .testimonial-body
        .testimonial-body-content
        .testimonial-all {
        width: 100%;
    }

    .testimonial-container .testimonial-content .testimonial-body {
        width: 100%;
        margin-top: 0px;
    }

    .testimonial-container
        .testimonial-content
        .testimonial-body
        .testimonial-body-content
        .styles-module_carousel-base__3keqD
        div
        .testimonial-left-btn,
    .testimonial-container
        .testimonial-content
        .testimonial-body
        .testimonial-body-content
        .styles-module_carousel-base__3keqD
        div
        .testimonial-right-btn {
        display: none !important;
    }
}
