/* @font-face {
    font-family: "HarmoniaSansProCyr-Bold";
    src: url("./assets/fonts/HarmoniaSansProCyr-Bold.ttf");
}

@font-face {
    font-family: "HarmoniaSansProCyr";
    src: url("./assets/fonts/HarmoniaSansProCyr-Regular.ttf");
} */

@font-face {
    font-family: "harmoniaSansReg";
    src: url("./assets/fonts/harmoniaSansReg.otf");
}
